<nav class="navbar navbar-expand-lg navbar-dark container-fluid cornavbar sticky-top">
    <a class="navbar-brand" href="#">
        <img src="https://imgur.com/1Cp6mD5.png
            " height="50" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto centralizar-links">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink='/sobre-nos'>Formigueiro</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#projetos">Projetos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href='#' routerLink='/inicio'>Posts</a>
            </li>

        </ul>

        <button class="btn botaocadastrar mr-2" type="submit" routerLink='/cadastrar'>Cadastre-se ou faça</button>
        <button class="btn botaonavbar" type="submit" routerLink='/entrar'>Login</button>

    </div>
</nav>
