@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
.pg-tema{
    background-color: #bfa0cc;
}
th{
    color:white;
}
.btnCadastrar{
    background-color: #f1c40f;
    color : #ffffff;
    font-weight: 500;
    /* padding: 10px 20px; */
    border-radius: 10%;
}
.btnColor{
    background-color: #f1c40f;
    color : #ffffff;
    font-weight: 500;
    /* padding: 10px 20px; */
    border-radius: 10%;
  
}
.btnColor:hover{
    background-color: #f39c12  
} 
.btnColor1{
    background-color: #8e44ad;
    color : #ffffff;
    font-weight: 500;
    /* padding: 10px 20px; */
    border-radius: 10%;

}
.btnColor1:hover{
    background-color: #6f1c92;
}  
.bgcolor{
    background-color: #8e44ad;
}