<app-navbar></app-navbar>
<!-- Imagem princial -->
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://imgur.com/zA9EFow.png" class="d-block w-100" alt="...">
    </div>
</div>
<!-- Fim da imagem principal  -->

<!-- Inicio da Imagem + Texto  -->
<div class="container">
    <div class="col-md-12">
        <div class="row d-flex justify-content-between align-items-center md-auto">

            <!-- Inicio da Primeira Coluna/Linha  -->
            <div class="col-md-6">
                <img src="https://imgur.com/PSXHb0y.gif" class="rounded" width="100%" alt="reunião">
                <!-- <iframe class="videoy" src="https://www.youtube.com/embed/VfIcHSHB2XM" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe> -->
            </div>
            <!-- Fim da primeira Coluna/Linha  -->
            <!-- Inicio da Segunda Coluna/ Primeira Linha  -->
            <div class="col-md-6">
                <h3 class="text-dark text-center mt-3">Conheça um pouco do trabalho das nossas formigas:</h3>
                <p class="ods text-center">Em Setembro de 2021, 5 alunos se juntaram para desenvolver uma ferramenta
                    capaz de mudar a realidade da população. Através de um convite feito pela Generation Brasil, o grupo
                    recebeu a proposta de trabalhar com o tema Cidades e Comunidades Sustentáveis.
                    Dessa forma nasceu a FoMigs!
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Fim da Imagem + Texto  -->

<!-- Inicio Ongs Voluntários e Empresas  -->
<div class="container">
    <div class="col-md-12">
        <h3 class="text-center">ONGs, Voluntários e Empresas!</h3>
        <div class="row d-flex justify-content-between align-items-center md-auto">

            <!-- Inicio ONGS  -->
            <div class="col-md-3 d-flex flex-column">
                <img src="https://imgur.com/Nx8deVf.gif" class="rounded" width="100%" alt="reunião">
                <h5 class="text-center text-dark">ONGs</h5>
                <p class="text-center">Potencialize o alcance da sua ONGs, encontre voluntários, conecte-se com empresas
                    parceiras e ajude cada vez mais a criar um mundo melhor!</p>

            </div>
            <!-- Fim ONGS  -->
            <!-- Inicio Voluntários  -->
            <div class="col-md-3 d-flex flex-column">
                <img src="https://imgur.com/CurbjsT.png" class="rounded" width="100%" alt="reunião">
                <h5 class="text-center">Voluntários</h5>
                <p class="text-center">Seja um voluntário e ajude ONGs a construírem um mundo melhor. Conectamos você
                    com diversos projetos que apoiam famílias em vulnerabilidade socioeconomica.</p>
            </div>
            <!-- Fim Voluntários  -->
            <!-- Inicio Empresas  -->
            <div class="col-md-3 d-flex flex-column">
                <img src="https://imgur.com/abICTwL.gif" class="rounded" width="100%" alt="reunião">
                <h5 class="text-center">Empresas</h5>
                <p class="text-center">Invista em projetos que mudam o mundo! Vamos te conectar com ONGs que
                    fazem um trabalho incrível e que gera mudança de verdade na nossa sociedade.</p>
            </div>
            <!-- Fim Empresas  -->
        </div>
    </div>
</div>
<!-- Fim Ongs Voluntários e Empresas  -->

<!-- Inicio Equipe  -->
<div class="container">
    <div class="col-md-12">
        <h3 class="text-center mt-5 mb-5">Responsáveis pela colônia</h3>
        <div class="row d-flex justify-content-between align-items-center md-auto">

            <!-- Inicio Ary  -->
            <div class="col-md-2 d-flex flex-column">
                <img src="https://i.imgur.com/ss7EdZJ.png" class="rounded" width="100%" alt="reunião">
                <H6 class="text-center">Ary Ribeiro</H6>
                <p class="text-center">Dev. Fullstack Java Jr.</p>
                <ul class="social mb-0 list-inline text-center d-flex justify-content-center">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <!-- Fim Ary  -->
            <!-- Inicio Fernanda  -->
            <div class="col-md-2 d-flex flex-column">
                <img src="https://i.imgur.com/OusgBtr.png" class="rounded" width="100%" alt="reunião">
                <H6 class="text-center">Fernanda Correia</H6>
                <p class="text-center">Dev. Fullstack Java Jr.</p>
                <ul class="social mb-0 list-inline text-center d-flex justify-content-center">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <!-- Fim Fernanda  -->
            <!-- Inicio Kelvin  -->
            <div class="col-md-2 d-flex flex-column">
                <img src="https://i.imgur.com/zJbSP62.png" class="rounded" width="100%" alt="reunião">
                <H6 class="text-center">Kelvin Silva</H6>
                <p class="text-center">Dev. Fullstack Java Jr.</p>
                <ul class="social mb-0 list-inline text-center d-flex justify-content-center">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <!-- Fim Kelvin -->
            <!-- Inicio Lucas  -->
            <div class="col-md-2 d-flex flex-column">
                <img src="https://i.imgur.com/Vr29MOs.png" class="rounded" width="100%" alt="reunião">
                <H6 class="text-center">Lucas Otoni</H6>
                <p class="text-center">Dev. Fullstack Java Jr.</p>
                <ul class="social mb-0 list-inline text-center d-flex justify-content-center">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <!-- Fim Lucas  -->
            <!-- Inicio Renata -->
            <div class="col-md-2 d-flex flex-column">
                <img src="https://i.imgur.com/XdiDg9c.png" class="rounded" width="100%" alt="reunião">
                <H6 class="text-center">Renata Menezes</H6>
                <p class="text-center">Dev. Fullstack Java Jr.</p>
                <ul class="social mb-0 list-inline text-center d-flex justify-content-center">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <!-- Fim Renata  -->
        </div>
    </div>
</div>

<!-- Fim Ongs Voluntários e Empresas  -->

<!-- Empresas Parceiras  -->
<div class="container-fluid">
    <div class="text-center my-5">
        <h3 class="corTitulo">Empresas Parceiras </h3>
    </div>
    <div class="row my-5">
        <div class="col-md-3">
            <div class="d-flex flex-column">
                <img src="https://i.imgur.com/9JT7aJX.png" height="50" alt="Icone 1" class="align-self-center  mb-3">


            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex flex-column">
                <img src="https://i.imgur.com/IvN8nKE.png" height="50" alt="Icone 1" class="align-self-center  mb-3 ">



            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex flex-column">
                <img src="https://i.imgur.com/lAKimmE.png" height="50" alt="Icone 1" class="align-self-center mb-3">


            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex flex-column">
                <img src="https://i.imgur.com/c5hn4xj.png" height="50" alt="Icone 1" class="align-self-center mb-3">


            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-3">
            <div class="d-flex flex-column">

                <img src="https://i.imgur.com/Of9O03Q.png" height="50" alt="Icone 1" class="align-self-center  mb-3">

            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex flex-column">

                <img src="https://i.imgur.com/3pQKMcp.png" height="50" alt="Icone 1" class="align-self-center  mb-3 ">


            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex flex-column">

                <img src="https://i.imgur.com/4FZRAxs.png" height="50" alt="Icone 1" class="align-self-center mb-3">

            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex flex-column">

                <img src="https://i.imgur.com/bQzXER1.png" height="50" alt="Icone 1" class="align-self-center mb-3">

            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-3">
            <div class="d-flex flex-column">

                <img src="https://i.imgur.com/AQzT13f.png" height="50" alt="Icone 1" class="align-self-center  mb-3">

            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex flex-column">

                <img src="https://i.imgur.com/VS5NiHi.png" height="50" alt="Icone 1" class="align-self-center  mb-3 ">


            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex flex-column">

                <img src="https://i.imgur.com/w42SSXc.png" height="50" alt="Icone 1" class="align-self-center mb-3">

            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex flex-column">

                <img src="https://i.imgur.com/VhoQ2wr.png" height="50" alt="Icone 1" class="align-self-center mb-3">

            </div>
        </div>
    </div>
    <!-- Fim Empresas Parceiras  -->


    <!-- Rodapé -->
    <!-- <app-rodape></app-rodape> -->