<app-navbar></app-navbar>
<!-- Inicio do Sobre Nos -->
<div class="container">
    <div class="col-md-12">
        <div class="row d-flex justify-content-between align-items-center md-auto">

            <!-- Inicio da Primeira Coluna/Linha  -->
            <div class="col-md-6">
                <img src="https://imgur.com/PSXHb0y.gif" class="rounded" width="100%" alt="reunião">
            </div>
            <!-- Fim da primeira Coluna/Linha  -->
            <!-- Inicio da Segunda Coluna/ Primeira Linha  -->
            <div class="col-md-6">
                <p class="ods text-center">Em Setembro de 2021, 5 alunos se juntaram para desenvolver uma ferramenta
                    capaz de mudar a realidade da população e trabalhar a desigualdade do país. Através de um convite
                    feito pela Generation Brasil, o grupo recebeu a proposta de trabalhar com o tema Cidades e
                    Comunidades Sustentáveis, um dos Objetivos de Desenvolvimento Sustentável (ODS) da ONU.
                </p>
            </div>
            <!-- Fim da segunda Coluna/ Primeira Linha  -->

            <!-- Inicio da Primeira Coluna/Segunda Linha  -->
            <div class="col-md-6">
                <p class="ods text-center">Após analisarem detalhadamente as metas propostas na ODS de número 11 e com
                    base em dados do IBGE compreendeu-se que a pobreza atinge 13,5 milhões de pessoas e que dessas 6,5
                    milhões não tem moradia.
                </p>
            </div>
            <!-- Fim da primeira Coluna/Segunda Linha  -->
            <!-- Inicio da Segunda Coluna/Linha  -->
            <div class="col-md-6">
                <img src="https://imgur.com/Ug60Npl.gif" class="rounded" width="100%" alt="Contruindo">
            </div>
            <!-- Fim da Segunda Coluna/Linha  -->

            <!-- Inicio da Primeira Coluna/Terceira Linha  -->
            <div class="col-md-6">
                <img src="https://imgur.com/yG4y598.png" class="rounded" width="100%" alt="Familia">
            </div>
            <!-- Fim da primeira Coluna/Terceira Linha  -->
            <!-- Inicio da Segunda Coluna/Terceira Linha  -->
            <div class="col-md-6">
                <p class="ods text-center">Dessa forma nasceu a ForMigs, uma rede social que tem como principal objetivo
                    facilitar o acesso de familias que se encontram em vulnerabilidade social com projetos de moradia
                    popular. A rede também possibilita a divulgação de novos projetos, parceria entre empresas que se
                    solidarizam com a causa e arrecadação de donativos.
                </p>
            </div>
            <!-- Fim da Segunda Coluna/Terceira Linha  -->
           
        </div>
    </div>
</div>